{% extends "assets/base.html" %}

{% block content %}
    <h1>Corporate Assets</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Asset Name</th>
                <th>Type</th>
                <th>Cost</th>
                <th>Assigned To</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            {% for asset in assets %}
            <tr>
                <td>{{ asset.name }}</td>
                <td>{{ asset.get_asset_type_display }}</td>
                <td>${{ asset.cost }}</td>
                <td>
                    {% if asset.assigned_to %}
                        {{ asset.assigned_to.username }}
                    {% else %}
                        <span style="color:red">Unassigned</span>
                    {% endif %}
                </td>
                <td>{{ asset.created_at|date:"M d, Y" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}