<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script>
    (() => {
      const savedTheme = localStorage.getItem("theme");
      if (savedTheme) {
        document.documentElement.setAttribute("data-theme", savedTheme);
      }
    })();
  </script>
  <title>Corporate Asset Tracker</title>
  {% load static %}
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'css/fonts/output.css' %}">
  <link rel="stylesheet" href="{% static 'css/themes/output.css' %}">
  <link rel="stylesheet" href="{% static 'css/libs/notyf.css' %}">
  {% block stylesheets %}{% endblock stylesheets %}
</head>
<body>
  {% block content %}{% endblock %}
  {% load static %}
  <script id="django-messages" type="application/json">
  [
  {% for message in messages %}
    {
      "text": "{{ message|escapejs }}",
      "tags": "{{ message.tags }}"
    }{% if not forloop.last %},{% endif %}
  {% endfor %}
  ]
  </script>
  <script src="{% static 'js/libs/notyf.js' %}"></script>
  <script src="{% static 'js/notyf-handler.js' %}"></script>

  {% block scripts %}{% endblock scripts %}
</body>
</html>